:root[data-theme="dark"] {
    --text: #f9fbf9;
    --background: #030705;
    --primary: #fcc522;
    --secondary: #29653a;
    --accent: #32864a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
    height: 100vh;
    width: 100%;
}

header {
    height: 50px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img.logo_prism {
    width: 50px;
    height: auto;
}

.navtext {
    text-decoration: none;
    padding-left: 20px;
    color: #fcc522;
}

.navtext:hover {
    color: #f9fbf9;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

h1 {
    font-size: 5em;
    margin-bottom: -0.15em;
    text-align: left;
    padding-left: 197px;
}

h1,h2 {
    color:#fcc522;
}

h2 {
    font-size: 2em;
    margin-top: 0%;
    padding-left: 200px;
}

.white-name {
    color: #f9fbf9;
}

.main-scroll-div {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 100%;
    height: 50%;
    margin: auto;
}

.scroll-images {
    width: auto; /* Allow horizontal overflow */
    height: auto;
    display: flex;
    justify-content: flex-start; /* Ensure content starts from the left */
    overflow-x: hidden; /* Disable browser's default snapping behavior */
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.child {
    height: 450px;
    aspect-ratio: 17 / 9;
    min-width: calc(450px * (17 / 9)); /* Calculate the minimum width based on the aspect ratio */
    margin: 1px 20px;
    cursor: pointer;
    border: 5px solid #fcc522;
    overflow: hidden;
    border-radius: 40px;
    scroll-snap-align: start;
}


.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
    
}

.child-img {
    width: 100%;
    height: 100%;
}

.child.scroll-placeholder {
    border: none;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

.scroller-icon {
    color: #fcc522;
    background: transparent;
    font-size: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 66%;
}

.scroller-icon span {

    font-size: 200%;
}

.scroller-icon.left_b {
    color: aqua;
    left: 0;
    
}

.scroller-icon.right_b {
    color: red;
    right: 0;
}

.scroller-icon:hover {
    color: #f9f9f9;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* My Logo as a clip path:
clip-path: polygon(45% 17%, 31% 71%, 52% 84%, 69% 62%); */




